*node_modules


Back/generated/prisma
Back/prisma/migrations
Back/prisma/dev.db


*dist
*dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
