.admin-options__container {
    display: flex;
    flex-direction: column;
    background-size: cover;  
    background-position: center;
    background-image:  url("src/assets/img/AdminOptions2.png");
    /* background-color: #7d2b28; */
    min-height: 100vh;
    background-attachment: fixed;
    padding: 0px 30px;
    align-items: center;
}
.admin-options__link{
    text-decoration: none;
}

.admin-options__title {
    /* background-color: #fff; */
    /* background-color: rgba(254, 237, 212, 0.85); */
    text-align: center;
    font-size: 3.5em;
    margin: 0 0.5em;
    margin-top: 0.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    border-radius: 15px;

}

.admin-options__content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    padding: 25px;
    gap: 2em;
}

.service-card {
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(171, 71, 49, 0.85);
    max-width: 15em;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: transform 0.2s ease;
}
.service-card:hover {
    transform: scale(1.03);
}


.service-card__image {
    width: 100%;
    /* border-radius: 10px;    */
}

.service-card__title{
    overflow-wrap: break-word;
    hyphens: auto;
    font-size: clamp(1em, 2.5vw, 2em);
    color: white;
}