.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw 0 1vw;
}

.navbar__options--mobile {
  display: none;
}

.navbar__btn--burger {
  display: none;
}

.navbar__btn--login {
  color: #5c3725;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 1vh 1vw 1vh 2vw;
  transition: background 0.3s;
  background-color: rgba(188, 195, 211, 0.8);
}

.loginModal {
  display: none;
  z-index: 2;
  position: absolute;
  flex-direction: column;
  background-color: #e8d3b2;
  border-radius: 1vw;
  padding: 0.5vw 1vw;
  margin: 0.5vw 1vw;

  &.open {
    display: flex;
    animation: aparecer 0.3s ease-in;
  }
  
  & h3 {
    text-align: center;
    margin: -1.5vh 0 1vh 0;
    color: #381e11;
  }

  & p {
    text-align: center;
    margin: 1vh 0;
    color: #40261a;
  }
}

.loginModal__btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.loginModal__btn--close {
  background: none;
  font-size: 1.5em;
  width: auto;
  height: auto;
  align-self: flex-end;
}

.loginModal__btn--login {
  background: none;
  text-decoration: none;
  color: #5c3725;
  transition: transform 0.5s ease, color 0.5s ease;
}

.loginModal__btn--signup {
  border-radius: 100px;
  margin: 1vh 0;
  padding: 1vh 1vw;
  background-color: #5c3725ca;
  text-decoration: none;
  color: #bccad3f0;
  transition: transform 0.5s ease;
}


/*~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•*/
/* Responsive para mobile + tablet */

@media (max-width: 900px) {

.navbar__options--desktop {
  display: none;
}

.navbar__btn--burger {
  display: inline;
  width: 10vw;
  padding: 3vw;
}

.navbar__logo {
  width: 15vw;
  cursor: pointer;
}

.navbar__options--mobile {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 70%;
  width: 30%;
  height: 100%;
  background-color: #df3830f8;
  &.open {
    display: flex;
  }
}

.navbar__options--mobile .navbar__btn--option {
  display: flex;
  align-items: flex-start;
  color: rgba(188, 202, 211, 0.8);
  text-decoration: none;
  font-size: 1.5em;
  background: none;
  transition: background 0.15s ease;
  padding: 2vh 2vw;
  &:active {
    filter: brightness(1.1);
    background-color: #df3830;
  }
}

.navbar__btn--login {
  margin: 3vh 2vw;
  justify-content: center;
  gap: 2vw;
  font-size: 1.5rem;
  transition: background 0.15s ease;
  &:active {
    background-color: #c7d7ed;
  }
}
.loginModal {
  top: 40%;
}

}

/*~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•*/

/* Responsive para computador */
@media (min-width: 901px) {
.navbar {
  background-size: 20% 100%;
}

.navbar__logo {
  width: 5.5vw;
  cursor: pointer;
}

.navbar__options--desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.navbar__options--desktop .navbar__btn--option {
  color: rgba(188, 202, 211, 0.8);
  text-decoration: none;
  font-size: 1.5em;
  background: none;
  &:hover {
    filter: brightness(1.1);
  }
}

.navbar__btn--login {
  gap: 1vw;
  font-size: 1.25em;
  &:hover {
    background-color: #c7d7ed;
  }
}

.loginModal {
  top: 10%;
  right: 1%;
  width: 20%;
}

.loginModal__btn--login:hover {
  color: #4d5e3b;
  transform: scale(1.05);
}

.loginModal__btn--signup:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 2px #4d5e3b4f;
}
}

/*~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•*/

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}