@font-face {
  font-family: 'Noto-Sans';
  src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Offside';
    src: url('/fonts/Offside-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Noto-Sans', sans-serif;
}

button {
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
}

.navbar {
    background: linear-gradient(rgba(223, 56, 48, 0.4), rgba(223, 56, 48, 0.4)), 
              url('./assets/img/wood-texture.jpg');
    background-repeat: repeat-x;
}

.main{
  background-image: url("./assets/img/Onsen.png");
  background-size: cover;  
  background-repeat: no-repeat;  
  background-position: center;
}

